// Fonts here
// see more: https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files


@font-face
  font-family: 'Montserrat-Regular'
  font-display: swap
  font-weight: 400
  font-style: normal
  src: url('/assets/fonts/Montserrat-Regular/Montserrat-Regular.svg') format('svg'),
  url('/assets/fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
  url('/assets/fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff')


@font-face
  font-family: 'Montserrat-Bold'
  font-display: swap
  font-weight: 700
  font-style: normal
  src: url('../../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
  url('../../fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'),
  url('../../fonts/Montserrat-Bold/Montserrat-Bold.svg') format('svg')


@font-face
  font-family: 'Quicksand-Bold'
  font-display: swap
  font-weight: 700
  font-style: normal
  src: url('../../fonts/Quicksand-Bold/Quicksand-Bold.woff') format('woff'),
  url('../../fonts/Quicksand-Bold/Quicksand-Bold.ttf') format('truetype'),
  url('../../fonts/Quicksand-Bold/Quicksand-Bold.svg') format('svg')


