extends ../layout/main


block variables
  - var title = 'Frontend'

block UIKit
  +icon
  section
    .container
      include ../includes/modules/ColorAndType/ColorAndType

block FormElements
  +icon
  section
    .container
      block elements
        include ../includes/modules/FormElements/FormElements

