extends ../layout/main

block variables
  - var title = 'Frontend';

block UIKit
  section
    .container
      include ../includes/modules/ColorAndType/ColorAndType


    //include ../includes/modules/ColorAndType/ColorAndType
  //include ../includes/modules/FormElement/