extends ../layout/main

block variables
  - var title = 'Frontend'
  - var color = '#fffff'
block UIKit
  +icon
  section
    .container
      include ../includes/modules/ColorAndType/ColorAndType

block FormElement
  +icon
  section
    .container
      include ../includes/modules/FormElement/FormElement

