

mixin color(name, color)
        div.color-block__item
            div.color-block__color= color
            div.color-block__descr.text-descr
                p.text-descr__descr= name
                span.text-descr__hex
mixin headlne(h, text)
        div.headline-block__item
            div.headline-block__head= h
            div.headline-block__descr= text
div.color-type
    div.color-block
        +color('dark shade 100%', '#1F2041')
        +color('Dark Shade 75%', '#1F2041')
        +color('Dark Shade 50%', '#1F2041')
        +color('Dark Shade 25%', '#1F2041')
        +color('Dark Shade 5%', '#1F2041')
        +color('Purple', '#BC9CFF')
        +color('Green', '#6FCF97')
    div.headline-block
        +headlne('h1', '[f[f[f[f[')


