div.textField-focus
    div.block-descr
        p.block-descr__text= 'Text Field'
        span.block-descr__type= 'Hover / Focus'
    input(type='text' value='This is pretty awesome').textField-focus__input